
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Poppins:wght@100;300;400;500;600&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    
}
.header {
    display:flex;
    justify-content: space-between;
    height: 100px;
    .logo{
        display: flex;
        .nombre-empresa{
            animation-name: mover;
            animation-duration:1s ; 
        }
        h2{
            color: black;
            font-size: 1cm;
        }
        
        img{
            height: 100px;
        }
    }
}
.navegar{

    list-style: none;
    padding: 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    li{
        display: inline-block;
        text-align: center;
        margin-right: 1rem;
        a{
            text-decoration: none;
            color: black;
            padding: 20px;
            display: block;
            &:hover{
                background: #ffae6a;
            }
        }
        
    }
    .checkbtn{
        display: block;
    }
    .menu-icono{
        display: none;
        img{
            width: 50px;
            height: 50px;
            border-radius: 2px;

        }
        ul{
            display: flex;
            align-items: center;

        }
    }


}
#check{
    display: none;
}

    


@keyframes mover {
    0%{
        transform: translateX(0);
    }

    40%{
        transform: translateX(100%);
    }
}


@media (max-width:768px){
    #carrito{
        display: none;
    }
    #login{ 
        position: fixed;
        left: 80%;
        top: 0.7rem;
        background: none;
        
        

    }
    
    .menu-icono{
        display: block;
        top: 20px;
        right: 20px;
        cursor: pointer;
        position: fixed;
        left: 70%;
    
    }
    .navegar ul {
        display: block;
        position: absolute;
        top: 70px;
        left: -100%;
        background: #d2623f;
        width: 100%;
        height: 100vh;
        right: 0;
    }
    .navegar ul li{
        padding: 2rem;
        display: flex;
        justify-content: center;
        margin: 0;
    }
    .navegar ul li:last-child{
        background: none;
        padding: 1rem;
    }
    #check:checked ~ ul {
        left: 0;

    }
}

.iconos{
    #login{
        width: 4.5rem;
        height: 4.5rem;
        line-height: 4.5rem;
        color: black;
        font-size: 2rem;
        text-align: center;
        cursor: pointer;
        background: none;
        
    }
    #carrito{
        width: 4.5rem;
        height: 4.5rem;
        line-height: 4.5rem;
        color: var(--black);
        font-size: 2rem;
        text-align: center;
        cursor: pointer;
        background-color: #fff;    
}

}





.registro{
    width: 400px;
    background-color: #ffae6a;
    padding: 50px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    h4{
        font-size: 22px;
        text-align: center;
        padding: 14px;
        margin-bottom: 20px;
    }
    .controls{
        width: 100%;
        background: #fbf2eb;
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 16px;
        border: 1px solid #d2623f;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 18px;
        
    }
    
    p{
        height: 40px;
        text-align: center;
        font-size: 18px;
        a{
            &:hover{
            color: white;
            text-decoration: underline;
            }
        }
        
    
    }
    .boton {
        @include boton
    
    }
}


footer{
    width: 100%;
    position: absolute;
    padding: 2rem 8%;
    background-color: black;
    display: inline;
    padding-right: 0.5em;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fbf2eb;
    .social-icons-conteiner, .footer-menu-coteiner{
        display: inline;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 1rem;
        list-style-type:none;
        color:#f2f2f2 ;
        font-size: 18px;
    }
    .social-icon{
        height: 50px;
        width: 50px;
        margin: 1rem;
        color: #fbf2eb;
        background-color: #121212;
        &:hover{
            background-color: #121212;
            filter: invert(1);
        
        }
    }
    .menu-item{
        margin: 1px 15px;
        cursor:pointer;
        opacity: 0.6;
        display: inline;
        &:hover{
            opacity: 1;
        }

        
    }
    .copyright{
        color: #f2f2f2;
        opacity: 0.3rem;
        text-align: center;
    }
    .site-map{
        display: flex;
        flex-direction: column;
        color: #ffae6a;
        text-decoration: none;
        .titulo-site{
            color: white;
        }

    }
    

}


.contenedor .form .form-header .form-title{
    font-weight: normal;
    padding: 14px 0;
}
.contenedor {
        .form{
        background: #ffae6a;
        width: 90%;
        max-width: 650px;
        margin: auto;
        padding: 5px 35px;
        margin-top: 30px;
        padding-bottom: 30px;
        border-radius: 3px;
        .form-input, .form-textarea{
        width: 100%;
        background: #fbf2eb;
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 16px;
        border: 1px solid #d2623f;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 18px;
        resize: vertical;
        max-height: 150px;
        min-height: 50px;
        }
    }
    .boton{
        @include boton
    }

    
    
}

.video-explica{
   padding-left: 50px;
   padding-top: 50px;
   text-align: center;
}

.categorias-items{
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    justify-content: center;
    .card{
        margin: 15px;
        text-align: center;
        line-height: 75px;
        border: 6px;
        overflow:hidden ;
        background: #fff;
        box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
        cursor: pointer;
        transition: all 400ms ease;
        &:hover{
            box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
            transform: translateY(-3%);
    
        }
         
    
    }
}

.card-img-top{
    height: 280px;
    width: 50px;
}
.card-body{
    align-items: center;
    .btn.btn-primary{
        color:black;
        background-color: #ffae6a;
        border: #d2623f;
        
        
    
    }

}








    

